<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="login-form">
        <h2>Login con node js</h2>
        <form action="/auth" method="POST">
            <input type="text" id="user" name="user" placeholder="User" >
            <input type="password" id="pass" name="pass" placeholder="Password" >
            <input type="submit" class="btn-login" value="Login">
    
        </form>
        <a href="/register" class="btn-register">Register</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton  %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location.href = '/<%= ruta %>';

            })
        </script>
    <% } %>
</body>
</html>